{#
/**
 * @file brand.html.twig
 * Default theme implementation to present Brand data.
 *
 * This template is used when viewing Brand pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_brand()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('brand') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
